---
import Dropdown from "../components/Dropdown";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sota Noniwa">
  <h1 class="flex justify-center w-full p-4 text-3xl">Sota Noniwa()</h1>
</Layout>

<style>
  h1 {
    /* font-size: 40px; */
  }
</style>
