---
import Layout from "../layouts/Layout.astro";
import CvButton from "../components/CvButton.astro";
---

<Layout title="Sota Noniwa">
  <p class="mt-2 text-center">
    CS learner who's passionate about web development
  </p>
  <CvButton
  label="View CV"
  link="/SotaNoniwaCV.pdf"
  className={"font-bold mt-4 self-center md:self-start"}
  />
</Layout>
